.EditableList {
  .ItemElement,
  > .ItemsWrapper {
    /*!KEEP*/
  }
  > .Label {
    @include EditableLabel;
  }
  &,
  > .ItemsWrapper {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
  }
  &[data-layout='vertical'] {
    &,
    > .ItemsWrapper {
      flex-direction: column;
      align-items: stretch;
    }
    > .Label {
      @include EditableVerticalSectionLabel;
    }
  }
  @at-root &[data-layout='horizontal'] {
    &,
    > .ItemsWrapper {
      flex-direction: row;
      align-items: center;
    }
  }
  .Item {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
  }
  .ItemElement {
    flex: 1;
  }
  .removeRowIcon {
    color: $errorColor;
  }
  .addRowIcon {
    color: $successColor;
  }
}
