.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Temporariy, swap, log & ignored files
tsconfig.tsbuildinfo
*UNUSED
*_
*~
.*.sw?
*.tmp
*.zip
*.tgz
*.log
~$*.doc
*crashed-session*
*.session
/temp*

static/data/.*
