@use 'sass:color';

$primaryColor: #1976D2;

:root {
	--primaryColor: #1976D2;
	--transitionTimeout: 250ms;
}

$formItemHeight: 32px;

.formGroup {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-wrap: wrap;

	button,
	select,
	input::file-selector-button,
	input {
		height: $formItemHeight;
		border-radius: 4px;
		transition: all var(--transitionTimeout);
		box-sizing: border-box;
	}
	select,
	input[type="file"],
	button {
		border: 1px solid color.change(black, $alpha: 0.2);
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 100%;
		&:not(:disabled) {
			background-color: $primaryColor;
			color: #fff;
			cursor: pointer;
			&:hover {
				box-shadow: 0 0 4px 1px $primaryColor;
				background-color: darken($primaryColor, 5%);
			}
		}
		&:disabled {
			cursor: default;
			// opacity: .8;
		}
	}
	input::file-selector-button {
		border-width: 0;
		background: none;
		color: #fff;
	}
}
