article.Toast {
  pointer-events: all;
  color: white;
  padding: 0.75rem 1.25rem;
  border-radius: 0.2rem;
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 0 auto 0.5rem auto;
  width: 20rem;
  > :global(svg) {
    flex-shrink: 0;
  }
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px;
}
.error {
  background-color: $errorColor;
}
.success {
  background-color: $successColor;
}
.info {
  background-color: $infoColor;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: transparent;
  border: 0 none;
  padding: 0;
  margin: 0 0 0 auto;
  line-height: 1;
  font-size: 1rem;
  cursor: pointer;
  transition: all $transitionTimeMs;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
