.MiddleButton,
.RightButton,
.Title,
.MiddleMenu,
.RightMenu,
.EditorHeader {
  /*!KEEP*/
}

.EditorHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 0 16px;
}

.Title {
  @include BigTitleText;
  color: $primaryColor;
  font-size: 190%;
}

.MiddleMenu,
.RightMenu {
  display: flex;
  gap: 4px;
  button {
    // Make buttons a bit more compact
    padding: 0 8px;
  }
}
