.Icons,
.Controls,
.Icon,
.IconGoTo,
.IconPage,
.IconCurrent,
.Info {
  /*!KEEP*/
}

.Icons,
.Controls {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  @include defaultFont;
}
.Icons {
  &:not(.hasPagination) {
    display: none;
  }
}
.Controls {
  .pageSize {
    input {
      width: 5em;
    }
  }
}

.IconPage {
  @include defaultFont;
  &:hover {
    background-color: color.change($primaryColor, $alpha: 0.1);
  }
}
.IconCurrent {
  &,
  &:hover {
    background-color: $primaryColor;
  }
}
.IconGoTo {
  background-color: color.change($primaryColor, $alpha: 0.1);
  &:hover {
    background-color: color.change($primaryColor, $alpha: 0.2);
  }
}
