.RandoPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  // $hPadding: 8px;

  $adaptiveTreshold: 600px;

  // .header, // TODO: Probably will be used in the future
  .layout {
    // padding-left: $hPadding;
    // padding-right: $hPadding;
    flex: 1;
    // flex-direction: column;
    overflow: auto;
    // gap: $hPadding * 2;
  }
  .column {
    display: flex;
  }
  .sideColumn {
    background-color: color.change($primaryColor, $alpha: 0.05);
    border-bottom: 1px solid $borderColor;
  }
  .mainColumn {
    flex: 1;
  }
  @media (min-width: $adaptiveTreshold) {
    .layout {
      display: flex;
      align-items: stretch;
      flex-direction: row;
      overflow: hidden;
      max-height: 100%;
      & > * {
        overflow: hidden;
      }
    }
    .sideColumn {
      min-width: 200px;
      max-width: 250px;
      width: 20%;
      border-bottom: none;
      border-right: 1px solid $borderColor;
    }
  }
}
