.GenericFilterDialogModal {
  /*!KEEP*/
  :global(.svelteui-Modal-overlay) {
    opacity: 0.25;
  }
}
.EditableTableModal {
  :global(.svelteui-Modal-title) {
    color: $primaryColor;
    font-size: 150%;
  }
  :global(.svelteui-Modal-body) {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}
.EditableTable {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .EditableTable_Label {
    @include EditableLabel;
  }
  .EditableTable_Table {
    $borderSize: 2px;
    border-spacing: $borderSize;
    // NOTE: Is it dangerous to different layout types?
    margin: -$borderSize;
    border-collapse: separate;
    $cellPaddingV: 4px;
    $cellPaddingH: 8px;
    $thPaddingV: $cellPaddingV + 4px;
    $thBorderSize: 4px;
    td,
    th {
      padding: $cellPaddingV $cellPaddingH;
      text-align: left;
      font-size: $defaultFontSize;
      &:global(#__actions) {
        // NOTE: One-icon column width
        width: 36px;
      }
    }
    th {
      // TODO: There are possible more higher (filter, search nodes) elements in the headers later
      border-bottom: $thBorderSize solid $borderColor;
      padding-top: $thPaddingV + $thBorderSize;
      padding-bottom: $thPaddingV;
      background-color: $primaryColor;
      color: #fff;
      font-weight: 500;
      position: relative;
      &[data-has-active-filter] {
        background-color: color.adjust($primaryColor, $lightness: -10%);
      }
    }
    .thWrapper {
      display: flex;
      align-items: center;
      gap: 8px;
      // position: relative;
    }
    thead {
      // Multilevel table headers
      > tr:not(:last-child) > th {
        text-align: center;
        border-bottom-color: transparent;
        > .thWrapper {
          justify-content: center;
        }
      }
    }
    td {
      border-bottom: 1px solid $borderColor;
      &[data-has-active-filter] {
        background-color: color.change($primaryColor, $alpha: 0.1);
      }
    }
    .tdWrapper {
      /*!KEEP*/
    }
    tr {
      // NOTE: Animate background color changes
      transition: all $transitionTimeMs;
    }
    tr.animation {
      animation-name: animateBgColor;
      animation-duration: $disappearTimeMs;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
      @keyframes animateBgColor {
        from {
          background-color: color.change($primaryColor, $alpha: 0.4);
        }
        to {
          background-color: transparent;
        }
      }
    }
    &.activeRows {
      tbody tr:not(.animation) {
        cursor: pointer;
        &:hover {
          background-color: color.change($primaryColor, $alpha: 0.1);
        }
      }
    }
  }
  .PaginationAndStats {
    &:not(.allowPagination) {
      display: none;
    }
    margin-top: 8px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    @media (min-width: 800px) {
      flex-direction: row;
      align-items: center;
    }
  }
  .Pagination {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
  }
  .Info {
    /*!KEEP*/
  }
}
