.EditableObject {
  &[data-layout='vertical'] {
    &:not(:first-child) {
      margin-top: 12px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    & + & {
      margin-top: 0;
    }
  }
  .EditableObject_Label {
    @include EditableLabel;
  }
  display: flex;
  gap: 16px;
  &[data-layout='horizontal'] {
    // DEBUG
    // border: 4px solid $demoColor;
  }
  &[data-layout='vertical'] {
    flex-direction: column;
    .EditableObject_Label {
      @include EditableVerticalSectionLabel;
    }
  }
}
