.DataEditorWrapper {
  position: relative;
  overflow: hidden;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .header {
    @include BigTitleText;
  }
  .container {
    flex: 1;
    overflow: hidden;
    &.scrollable {
      overflow: auto;
    }
    .content {
      // border: 1px solid red;
    }
  }
  flex: 1;
}
