.DataEditorWrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .header {
    margin-top: 16px;
  }
  .container {
    flex: 1;
    overflow: hidden;
    &.scrollable {
      overflow: auto;
    }
  }
  .content {
    padding: 16px;
  }
  flex: 1;
}
